{{!< default}} {{#post}} <article class="blog-post px-3 py-5 p-md-5">
  <div class="container single-col-max-width">
    <header class="blog-post-header">
      <h2 class="title mb-2">{{title}}</h2>
      {{#is "post" }}
      <div class="meta mb-1"><span class="date">Published
          <time datetime="{{date
                  format=" YYYY-MM-DD" }}">{{date}}</time>
        </span><span class="time">{{reading_time}}
          min read</span>
        <span class="comment">
          {{authors separator=" | " prefix="Writer:"}}
        </span>
      </div>
      {{#get 'tags' limit='all' include='count.posts' order='count.posts desc'}}
      <div class="wrapperTags"></div>
      {{#foreach tags}}
      <span class="tags">
        <a href="{{url}}">{{name}}</a>
      </span>
      {{/foreach}}
  </div>
  {{/get}}

  </header>
  <div class="blog-post-body">
    {{#if feature_image}}
    <figure class="blog-banner">
      <img class="lazy" src="{{img_url feature_image size=" m"}}"
        alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}">
      {{#if feature_image_caption}}
      <figcaption class="mt-2 text-center image-caption">{{feature_image_caption}}</figcaption>
      {{/if}}
      {{/if}}
      {{/is}}
      {{content}}
  </div>
  {{#is "post"}}
  {{> pagination}}
  <div id="disqus_thread"></div>
  {{/is}}
  </article>

  <script>
    var disqus_config = function () {
      this.page.url = '{{url absolute="true"}}';  // Replace PAGE_URL with your page's canonical URL variable
      this.page.identifier = 'ghost-{{comment_id}}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    (function () { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = 'https://www-tomnysontech-com.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by
      Disqus.</a></noscript>
  {{/post}}